<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

  </configSections>
  <connectionStrings>
    <add name="CodeCloneAnalysisEntities" connectionString="metadata=res://*/CodeCloneAnalysisModel.csdl|res://*/CodeCloneAnalysisModel.ssdl|res://*/CodeCloneAnalysisModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;database=CodeCloneAnalysis&quot;" providerName="System.Data.EntityClient" />
    <add name="cycloneEntities" connectionString="metadata=res://*/CycloneModel.csdl|res://*/CycloneModel.ssdl|res://*/CycloneModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;password=takemein;database=cyclone&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  
  </entityFramework>

</configuration>