<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <connectionStrings>
    <add name="dbd63c48f65aad4276b507a55c00bad8ffEntities" connectionString="metadata=res://*/WebHookModel.csdl|res://*/WebHookModel.ssdl|res://*/WebHookModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=d63c48f6-5aad-4276-b507-a55c00bad8ff.sqlserver.sequelizer.com;initial catalog=dbd63c48f65aad4276b507a55c00bad8ff;persist security info=True;user id=isleibhcgrttopfy;password=5LUG8EbMfEW7xpcmSotx7mz5CWFRSXjHhGVzrhaWSWfVotR8MGctqXbSkXdj8r4q;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing ="true"/>
    </settings>
  </system.net>
  <system.webServer>
    <handlers>
      <add name="gethandler" type="WebHookManager.GetHandler, WebHookManager" path="*retriver*" verb="GET"/>

      <add name="hand" type="WebHookManager.Handler, WebHookManager" path="*handler*" verb="POST"/>


    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>