<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="DefaultSourceLocation" value="C:\\CCASA\\" />
    <add key="DefaultOutputLocation" value="C:\CCASA\" />
    <add key="CONQATEngineBATPath" value="D:\Projects\conqat-2015.2\conqat\bin\" />
    <add key="WAMPVisualizationPath" value="C:\wamp\www\Visclone\WebContent\" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
 
  </entityFramework>
  <connectionStrings>
    <add name="cycloneEntities" connectionString="metadata=res://*/CycloneModel.csdl|res://*/CycloneModel.ssdl|res://*/CycloneModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;user id=root;database=cyclone&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>